$color1: #FFFFFF;
$color2: #707070;
$color3: #32C8CE;
$color4: #678CBF;
$color5: #FF8699;

*{
	box-sizing: border-box;
}
html, body{
	color: $color2;
	font-family: $fonts1;
	font-weight: normal;
}
.hidden{
	display: none;
}
.wrp{
}
.row{
	width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
	@include r(768){
		width: 100%;
		max-width: 638px;
	}
}
.content{
	display: flex;
	flex-wrap: wrap;
}


