<form action="" class="feedback">
    <div class="feedback__item">
        <label for="fio">ФИО:</label> <input id="fio" class="feedback__input" type="text">
    </div>
    <div class="feedback__item">
        <label for="phone">Телефон:</label> <input id="phone" class="feedback__input" type="text">
    </div>
    <div class="feedback__item">
        <label class="feedback__label" for="message">Ваше сообщение:</label> <textarea class="feedback__textarea" name="" id="message" cols="30" rows="10"></textarea>
    </div>
    <div class="feedback__item">
        <input class="feedback__btn" type="submit" value="Отправить">
    </div>
</form>