<footer class="footer">
    <div class="row">
        <div class="footer__inner">
            <div class="footer__logo">
                <p><b>SUNRISE</b></p>
                <p>Благотворительный фонд<br> помощи детям</p>
            </div>
            <nav class="nav">
                <a class="nav__item color1" href="#">О фонде</a>
                <a class="nav__item color1" href="#">Контакты</a>
                <a class="nav__item color1" href="#">Отчеты</a>
                <a class="nav__item color1" href="#">Новости</a>
                <a class="nav__item color1" href="#">Партнеры</a>
                <a class="nav__item color1" href="#">Оферта</a>
            </nav>
            <div class="footer__contacts">
                <p>Контактная линия Фонда</p>
                <a href="tel:">+7 777 234-56-78</a>
            </div>
        </div>
    </div>
</footer>