<header class="header">
    <div class="row">
        <div class="header__inner">
            <div class="header__left">
                <div class="header__top">
                    <div class="social">
                        <a href="#" class="social__item"><img src="img/inst.svg" alt=""></a>
                        <a href="#" class="social__item"><img src="img/fb.svg" alt=""></a>
                    </div>
                    <nav class="nav">
                        <a class="nav__item" href="#">О фонде</a>
                        <a class="nav__item" href="#">Контакты</a>
                        <a class="nav__item" href="#">Отчеты</a>
                        <a class="nav__item" href="#">Новости</a>
                        <a class="nav__item" href="#">Партнеры</a>
                        <a class="nav__item" href="#">Оферта</a>
                    </nav>
                </div>
                <div class="header__bottom">
                    <div class="header__logo">
                        <p><b>SUNRISE</b></p>
                        <p>Благотворительный фонд<br> помощи детям</p>
                    </div>
                    <div class="header__item">
                        <p>Дети, которым<br> нужна помощь</p>
                        <div class="header__num color1">1473</div>
                    </div>
                    <div class="header__item">
                        <p>Дети, которым<br> уже помогли</p>
                        <div class="header__num color2">867</div>
                    </div>
                    <div class="header__item">
                        <p>Дети получили<br> на лечение</p>
                        <div class="header__num">27 987 890 Т</div>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <div class="header__auth">
                    <a href="#">Вход</a> | <a href="#">Регистрация</a>
                </div>
                <div class="header__contacts">
                    <p>Контактная линия Фонда</p>
                    <a href="tel:">+7 777 234-56-78</a>
                </div>
            </div>
        </div>
        <div class="header__line"></div>
    </div>
</header>