.aside{
	width: 200px;
	hr{
		background-color: #DBDBDB;
		width: 100%;
		height: 1px;
		margin: 0 0 30px;
		padding: 0;
		border: 0;
	}
	&__group-btn{
		margin-bottom: 25px;
	}
	&__btn{
		display: block;
		margin: 0 auto 8px;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		color: $color1;
		font-size: 12px;
		line-height: 41px;
		background-color: $color4;
		max-width: 200px;
		width: 100%;
		height: 41px;
		border-radius: 5px;
		&.color1{
			background-color: $color3;
		}
	}
	@include r(768){
		width: 140px;
		hr{
			margin: 0 0 18px;
		}
		&__btn{
			height: 28px;
			font-size: 8px;
			line-height: 28px;
		}
	}
}