.main{
	margin-right: 30px;
	width: 749px;
	h1{
		font-size: 32px;
		margin: 0 0 10px;
	}
	&__subtitle{
		max-width: 340px;
		font-size: 13px;
		line-height: 18px;
		margin: 0 0 15px;
	}
	@include r(768){
		margin-right: 16px;
		width: 448px;
		h1{
			font-size: 19px;
		}
		&__subtitle{
			max-width: 100%	;
		}
	}
}